// Reasonable Breakpoint Values
// Feel free to use these or create new ones better suited to your site's needs
$desktop-wide:     71.25em;  // 1140px
$desktop-small:    64.00em;  // 1024px
$tablet-portrait:  48.00em;  // 768px
$phone-landscape:  30.00em;  // 480px
$phone-portrait:   20.00em;  // 320px

$column-killer-breakpoint: $phone-landscape;  // 640px