@import 'globals';
@import '1140';
@import 'samples';

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

img,
embed,
object { max-width: 100%; }

img {	height: auto; }

/* Page Structure */
.main      {@include container;}
.content   {@include row;}

.row div {background: #ddd; margin-bottom: 1em; padding: 10px;}

#breakpoints {max-width: 1140px;  margin: 0 auto; position: relative;}

#meters {position: fixed; z-index: 1;  top: 150px; max-width: 1140px; width: 100%; background: rgba(143,216,243,0.78); padding-top: 1em;}   

#breakpoints div { 
  background: rgba(207,16,147,0.8);
  margin-bottom: 1em; padding: 0; 
  color: #fff; text-shadow: 0px -1px 0px rgba(0,0,0,.3);}

#breakpoints div > span {padding: 10px; display: inline-block; font-size: .8em;}
#breakpoints .pointname {display: inline-block; width: 120px;}
#breakpoints .emwidth {display: inline-block; width: 60px; padding-left: 15px;}
#breakpoints .pxwidth {display: inline-block; padding-left: 15px;}

.break-20em {max-width: 20em;}
.break-40em {max-width: 40em;}
.break-48em {max-width: 48em;}
.break-64em {max-width: 64em;}
.break-7125em {max-width: 71.25em;}


// Smaller screens
@media handheld, only screen and (max-width: $desktop-small) {
  body {
    line-height: 1.5em;
  }
}

// Tablets
@media handheld, only screen and (max-width: $phone-landscape) {
  body {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-text-size-adjust: none;
  }
}